@import '~@/app.scss';

.detail-wrapper {
    padding: 30px 0;

    .detail {
        padding: 20px;
        background: #fff;

        .title {
            font-size: 40px;
            margin-bottom: 20px;
        }

        .author {
            position: relative;
            padding-left: 100px;

            .at-avatar {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .date {
            margin-bottom: 20px;
            color: #aaa;
            font-size: 30px;
        }

        .content {
            .text {
                margin-bottom: 20px;
                text-indent: 2em;
                word-break: break-all;
            }
        }

        .img {
            text-align: center;
        }

        image {
            width: 100%;
            margin: 0 auto 20px;
        }
    }

    .at-activity-indicator {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }
}