@import '~@/app.scss';

.detail-wrapper {
    .detail {
        padding: 20px;
        background: #fff;

        .title {
            font-size: 40px;
            margin-bottom: 20px;
        }

        .author {
            position: relative;
            padding-left: 100px;

            .at-avatar {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .date {
            margin-bottom: 20px;
            color: #aaa;
            font-size: 30px;
        }

        .content {
            .text {
                margin-bottom: 20px;
                text-indent: 2em;
                word-break: break-all;
                white-space: pre-wrap;
            }
        }

        .img {
            text-align: center;
        }

        image, video {
            width: 100%;
            margin: 0 auto 20px;
        }
    }

    .at-activity-indicator {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }

    .btn-group {
        position: fixed;
        bottom: 20px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        .at-button {
            border: 1px solid #C0182F;
            color: #C0182F;
            width: 47%;
            border-radius: 0;
            height: 80px;
            line-height: 80px;
        }

        .at-button.edit-btn {
            margin-left: 10px;
            color: #fff;
            background: #C0182F;
        }
    }
}
