@import "~taro-ui/dist/style/index.scss";

.post-container {
    padding: 30px;
}
.post-title {
    padding: 30px;

    image {
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    .title {
        margin-left: 120px;
        font-size: 36px;
    }
    .date {
        margin: 15px 0 0 120px;
        color: #aaa;
        font-size: 20px;
    }
}

.tab-container {
    border: 1px solid $color-border-base;
    border-radius: 20px;
    overflow: hidden;

    .at-tabs__item {
        padding: 0;
        line-height: 80px;
    }

    .at-tabs__item:not(:last-child) {
        border-right: 1px solid $color-border-base;
    }

    .at-tabs__item-underline {
        display: none;
    }

    .at-tabs__underline {
        background-color: $color-border-base;
    }

    .detail-wrapper .detail {
        border: 0;
    }
    
    .discuss-list {
        padding: 30px;

        .discuss-item {
            padding: 30px 0;
            border-bottom: 1px solid $color-border-base;
        }

        image {
            float: left;
            width: 70px;
            height: 70px;
            border-radius: 6px;
        }

        .text-content {
            padding-left: 80px;
            color: #aaa;

            .nickname {
                color: #666;
                line-height: 40px;
            }
            .date {
                float: right;
                font-size: 20px;
            }
        }
    }
}