@import "~taro-ui/dist/style/index.scss";

.edit-container {
    padding: 30px 0;
    background: #f4f4f4;

    .content-wrapper {
        padding: 30px;
        overflow: auto;
        background: #fff;
    }

    .info,
    .detail {
        padding: 20px;
        border-radius: 20px;

        &.info {
            margin-bottom: 20px;

            textarea {
                background: #f5f5f5;
                border: 0;
            }
        }
    }

    .input-wrapper {
        input {
            background: #f5f5f5;
            border: 0;
            border-radius: 8px;
            height: 80px;
        }

        .tips {
            font-size: 26px;
            color: #aaa;
            padding-left: 12px;
        }

        .file-uploader {
            margin-top: 20px;
        }
    }

    .content-list {
        padding: 40px 0 20px;

        .edit-item {
            position: relative;

            &.text {
                background: #f5f5f5;
                padding-right: 20px;
                margin-bottom: 100px;

                .btn-group {
                    position: absolute;
                    top: calc(26rpx + 100%);
                    left: 0;
                    width: 100%;
                    margin: 0;

                    .minus-icon {
                        top: -280px;
                        right: 20px;
                    }
                }
            }

            textarea {
                width: 95%;
                margin: 0 auto;
                border: 0;
                border-radius: 8px;
            }

            &.img .minus-icon {
                display: none;
            }
        }

        .minus-icon {
            position: absolute;
            border-radius: 50%;
            z-index: 10;
        }
    }

    .select-wrapper {
        margin-bottom: 20px;
        line-height: 60px;

        picker {
            position: relative;
        }

        .at-icon {
            position: absolute;
            top: 32px;
            right: 10px;
        }
    }

    .btn-group {
        margin: 20px 0;
        text-align: right;

        .at-button {
            border: none;
            color: #C0182F;
            display: inline;

            .at-icon {
                margin: -8px 8px 0 0 ;
            }
        }
    }

    .at-accordion {
        .at-accordion__arrow {
            display: none;
        }
        &:after {
            border: 0;
        }
    }

    .fixed-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 30px;

        .at-button {
            width: 47%;
            border: 0;
            border-radius: 0;
            border: 1px solid #aaa;
            height: 80px;
            line-height: 80px;
        }

        .save-btn {
            margin-left: 10px;
            color: #fff;
            background: #C0182F;
            border-color: #C0182F;
        }
    }
}