@import "~taro-ui/dist/style/index.scss";

.edit-container {

    .content-wrapper {
        padding: 30px;
        height: calc(100vh - 150px);
        overflow: auto;
    }

    .info,
    .detail {
        padding: 20px;
        border: 1px solid $color-border-base;
        border-radius: 20px;

        &.info {
            margin-bottom: 20px;
        }
    }

    .content-list {
        padding: 40px 20px 20px;

        .edit-item {
            position: relative;

            textarea {
                width: 95%;
                margin: 0 auto;
            }
        }

        .minus-icon {
            position: absolute;
            top: -10px;
            right: -18px;
            background: #FF4949;
            border-radius: 50%;
            z-index: 10;
        }
    }

    .select-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 20px;

        label {
            margin-right: 20px;
        }

        picker {
            flex: 1;
        }

        .at-icon {
            position: absolute;
            top: 14px;
            right: 10px;
        }
    }

    .btn-group {
        margin: 20px;
        display: flex;

        .at-button {
            border: none;
            .at-icon {
                margin: -8px 8px 0 0 ;
            }
        }
    }

    .fixed-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .at-button {
            width: 50%;
            border: 0;
            border-radius: 0;
            border-top: 1px solid $color-border-base;
            border-bottom: 1px solid $color-border-base;

            &:last-child {
                border-left: 1px solid $color-border-base;
            }
        }
    }
}