@import '~@/app.scss';

.home-container {
    padding: 30px;
    background: #f4f4f4;

    .logo-top {
        width: 188px;
        margin-bottom: 20px;
    }

    .title {
        position: relative;
        margin-bottom: 30px;

        image {
            width: 100%;
        }

        text {
            position: absolute;
            bottom: 50px;
            left: 50px;
            color: #fff;
            z-index: 1;
            font-size: 50px;
        }
    }

    .link-title {
        margin: 40px 0 30px;
        font-size: 34px;
        font-weight: 500;
    }

    .list-content {
        .title {
            margin-bottom: 10px;
        }
    }

    .enter-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 330px;
            height: 160px;
            border-radius: 8px;
            position: relative;
            margin-bottom: 20px;

            .item-bg {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .item-text {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 30px;
            }

            .item-icon {
                width: 50px;
                height: 50px;
            }

            .text {
                font-size: 30px;
                color: #fff;
                margin: 0 20px;
            }
        }
    }
}
