@import '~@/app.scss';

.home-container {
    .title {
        position: relative;

        image {
            width: 100%;
        }

        text {
            position: absolute;
            width: 100%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            z-index: 1;
            font-size: 60px;
            text-align: center;
        }
    }

    .enter-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 5vw;
        font-size: 36px;

        .item {
            width: 35vw;
            height: 35vw;
            margin: 3vw 3vw 6vw;
            border: 3px solid $color-border-base;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            image {
                width: 50%;
            }

            text {
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
            }
        }
    }
}
