@import "~taro-ui/dist/style/index.scss";

.preview-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;

    .mask {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .preview-img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.center {
        justify-content: center;
        .add-file {
            width: 80vw;
            height: 80vw;
        }
    }

    .file-item {
        width: 100%;
        position: relative;

        image, video, .audio {
            width: 100%;
        }

        .custom-audio {
            margin-bottom: 20px;
        }

        .at-icon-close {
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            background: #bbb;
            padding: 6px;
        }
    }

    .add-file {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid $color-border-base;
        border-radius: 30px;
        width: 40vw;
        height: 40vw;

        .add-icon::before, .add-icon::after {
            content: '';
            position: relative;
            display: block;
            width: 60px;
            height: 5px;
            background: #ddd;
            top: 30px;
        }

        .add-icon::after {
            width: 5px;
            height: 60px;
            top: 0;
            left: 30px;
        }

        .tip-text {
            width: 100%;
            color: #ccc;
            position: absolute;
            top: calc(50% + 40rpx);
            left: 0;
            text-align: center;
        }
    }
}
