@import "~taro-ui/dist/style/index.scss";

.form {
    margin-bottom: 30px;

    .input-wrapper {
        width: 100%;
        height: 70px;
        box-sizing: border-box;
        flex: 1;
        margin-right: 30px;
        background: #fff;

        .at-icon {
            top: 20px;
        }
    }

    .at-button {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        line-height: 120px;
        background: linear-gradient(#b20027, #f57a8c);
        border: 0;
        z-index: 100;
    }
}