.aboutus-detail {
    padding: 30px 0;
    height: 100vh;
    overflow: auto;
    background: #f4f4f4;
    box-sizing: border-box;

    &.can-edit {
        height: calc(100vh - 106rpx);
        padding-bottom: 0;
    }
}