@import "~taro-ui/dist/style/index.scss";

.mine-container {
    background: #f4f4f4;
    height: 100vh;
    padding: 0 30px;

    .base-info {
        height: 140px;
        padding: 46px 0 20px 150px;
        position: relative;

        .name {
            vertical-align: middle;
            font-size: 36px;
        }

        .at-avatar {
            display: inline-block;
            position: absolute;
            top: 40px;
            left: 0;
            padding: 0;
            margin: 0;
            margin-right: 30px;
            background: transparent;
            border: 0;
        }

        .count-item {
            line-height: 70px;
            text-align: center;
            color: #999;

            &:first-child {
                margin-right: 50px;
            }
        }
    }

    .function-title {
        font-size: 30px;
        line-height: 80px;
        font-weight: 600;
    }

    .menu-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: #fff;
        padding: 0 40px;
        border-radius: 16px;

        .menu-item {
            width: 28%;
            min-width: 92px;
            text-align: center;
            padding: 30px 0;
            font-size: 28px;

            image {
                width: 52px;
                height: 52px;
                margin-bottom: 14px;
            }
        }
    }
}
