@import "~taro-ui/dist/style/index.scss";

.mine-container {
    font-size: 30px;

    .base-info {
        display: flex;
        height: 140px;
        padding-left: 30px;
        border-bottom: 1px solid $color-border-base;

        .name {
            padding: 20px;
            vertical-align: middle;
        }

        .get-avatar {
            display: inline-block;
            vertical-align: top;
            width: 100px;
            height: 100px;
            padding: 0;
            margin: 0;
            margin-right: 30px;
            background: transparent;
            border: 0;

            &::after {
                display: none;
            }
        }

        .nickname-input {
            display: inline-block;
            width: calc(100vw - 260rpx);
        }
    }

    .count {
        display: flex;
        height: 140px;
        border-bottom: 1px solid $color-border-base;
        .count-item {
            width: 50%;
            line-height: 70px;
            text-align: center;

            &:first-child {
                border-right: 1px solid $color-border-base;
            }
        }
    }

    .function-title {
        padding-left: 30px;
        font-size: 38px;
        height: 110px;
        line-height: 110px;
        border-bottom: 1px solid $color-border-base;

        .at-icon {
            margin-right: 10px;
        }
    }

    .menu-list {
        display: flex;
        flex-wrap: wrap;

        .menu-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(25% - 1px);
            border-right: 1px solid $color-border-base;
            border-bottom: 1px solid $color-border-base;
            text-align: center;
            padding: 30px 0;

            image {
                width: 10vw;
                height: 10vw;
                margin-bottom: 20px;
            }
        }
    }
    .content-inner__text {
        font-size: 28px;
    }
}
