.activity-container {
    padding: 30px;
    background: #f4f4f4;
    min-height: 100vh;
    .top-area {
        // position: relative;
        // height: 100%;
        // width: 100%;
        .filter-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            width: 100%;
            background: #f4f4f4;
            .filter-btn {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                color: #C0182F;
                background-color: #fff;
                height: 72px;
                margin-bottom: 20px;
                .img {
                    width: 32px;
                    height: 32px !important;
                }
                .name {
                    font-size: 30px;
                    width: 100px;
                    padding: 0 20px;
                }
            }
        }
        .filter-content {
            background-color: #fff;
            padding: 20px;
            .filter-title {
                height: 86px;
                line-height: 86px;
                font-size: 28px;
                margin-left: 20px;
            }
            .select-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                .button {
                    margin: 0 20px 20px 0;
                    width: 146px;
                    height: 56px;
                    line-height: 56px;
                    font-size: 24px;
                    border: none;
                    background: rgba($color: #000, $alpha: 0.06);
                    border-radius: 8px;
                    color: #000;
                    &::after {
                        display: none;
                        width: 0;
                    }
                }
                .active {
                    border: 2px solid #C0182F;
                    color: #C0182F;
                }
            }
        }
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}
.art .list-content {
    top: 47px;
}