@import "~taro-ui/dist/style/index.scss";

page {
    color: #333;
}

textarea {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid $color-border-base;
    border-radius: 20px;
    width: 100%;
}

input {
    padding: 10px 20px;
    border: 1px solid $color-border-base;
    border-radius: 10px;
    background: #fff;
}

.input-wrapper {
    margin-bottom: 20px;
    background: #fff;

    &.has-prefix {
        position: relative;
        height: 60px;
        padding: 10px 20px 10px 60px;
        border-radius: 35px;

        .at-icon {
            font-size: 20px;
            position: absolute;
            left: 10px;
            top: 24px;
        }

        input {
            height: 100%;
            padding: 0;
            border: 0;
        }
    }

    &.has-label {
        label {
            display: block;
            color: #333;
            padding-bottom: 10px;
        }
    }
}

label.required::before {
    content: '*';
    color: $color-error;
    padding: 0 5px;
}

.empty {
    margin: 50px 0;
    text-align: center;
}

.at-avatar {
    background: transparent !important;
}

.at-tabs {
    margin-bottom: 20px;

    .at-tabs__item {
        padding: 20px 0;

        .at-tabs__item-underline {
            background-color: #C0182F;
        }
    }
    .at-tabs__item--active {
        color: #C0182F;
    }
}
