.activity-detail {
    height: 100vh;
    padding: 30px 0;
    overflow: auto;
    background: #f4f4f4;

    &.can-edit {
        height: calc(100vh - 106rpx);
        padding-bottom: 0;
    }

    .remarks {
        background: #fff;
        padding-bottom: 20px;
        margin-top: 30px;
    }

    .remark-title {
        padding: 20px 30px;
        font-size: 34px;
    }

    .publish {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        input {
            width: 80%;
            height: 56px;
            border-radius: 38px;
        }
        .up-vote {
            width: 50px;
            height: 50px;
        }
    }

    .remark-item {
        padding: 20px 0 20px 120px;
        position: relative;
        font-size: 30px;
        color: #666;
        margin-bottom: 20px;

        image {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 20px;
            left: 30px;
            border-radius: 40px;
        }

        .content {
            font-size: 36px;
            color: #333;
            margin: 14px 0;
        }
    }
}
