.activity-type-container {
  display: flex;
  flex-direction: column;
  .type-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 164px;
    padding: 24px 0;
    .type-img {
      width: 36%;
      height: 100%;
    }
    .type-name {
      flex: 1;
      padding-left: 48px;
    }
  }
}