.activity-type-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .type-item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
  }
}